{% block comment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_comment.css' %}">
    <form method="POST" class='comment-form-container'>
        {% csrf_token %}
        <div class="text">
            Add your comment!
        </div>
        <select id="id_post" name="post" hidden>
            <option value={{ post.id }} selected></option>
        </select>
        <input class='comment-input'
               name='title'
               id="id_title"
               value=''
               placeholder='Title'/>

        <input class='comment-input'
               name='content'
               id="id_content"
               value=''
               placeholder='Content'/>
        <button class='send-comment'>
            Create Comment
        </button>

    </form>
{% endblock %}