{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <div class='home-post-container'>
    <div class="tags-container">
        {% for tag in tags %}
                        <a href="{% url 'tagged' tag.slug %}" class="tag">#{{ tag }}</a>
                    {% endfor %}
    </div>

        {% for post in posts %}
            <div class='post-container'>
                <div class='title'>
                    {{ post.title }}
                </div>

                <div class='tags'>
                    {% for tag in post.tags.all %}
                        <a href="{% url 'tagged' tag.slug %}" class="tag">#{{ tag }}</a>
                    {% endfor %}
                </div>


                <div class='time'>
                    {{ post.updated_on }}
                </div>

                <div class='content'>
                    {{ post.content }}
                </div>
                <div class='comments'>

                    {% for comment in post.comments.all %}

                        <div class="comment-container">
                            <div class="comment-title">
                                {{ comment.title }}
                            </div>
                            <a class='comment-delete' href={% url "delete-comment" comment.pk %}>
                                Delete
                            </a>
                            <div class="comment-time">
                                {{ comment.updated_on }}
                            </div>
                            <div class="comment-content">
                                {{ comment.content }}
                            </div>
                        </div>
                    {% endfor %}
                    {% include 'add_comment.html' with id=post.pk %}<br/>

                </div>
                <div class='manage-post'>
                    <a href="{% url 'posts/update' post.pk %}" class='edit-post'>
                        Edit this post
                    </a>
                    <a href="{% url 'delete' post.pk %}" class='delete-post'>
                        Delete
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}