{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/post_form.css' %}">
    <div class='post-container'>
        <div class="form-post-container">
            <form method="POST" class='post-form'>
                {% csrf_token %}
                <input class='title'
                       id="id_title"
                       name='title'
                       value={{ post.title }}
                               placeholder='Title'/>
                <input
                       id="id_tags"
                       value="{% for tag in post.tags.all %}{{ tag.name }} {% endfor %}"
                       name='tags'
                       placeholder='Tags'/>
                <textarea class='content-textarea'
                       id="id_content"
                       name='content'
                       placeholder='Content'>{{ post.content }}</textarea>

                <div class='manage-post'>
                    <button class='send-post'>Confirm edit</button>
                </div>
            </form>
        </div>
        <a class='back-to-posts' href="{% url 'posts' %}">
            Back to posts
        </a>
    </div>
{% endblock %}