{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/post_form.css' %}">
    <div class='chat-container'>

        <div class="form-post-container">
            <form method="POST" class='post-form'>
                {% csrf_token %}
                <input class='title'
                       id="id_title"
                       name='title'
                       value={{ post.title }}
                               placeholder='Title'/>
                <input class='content-textarea'
                       id="id_content"
                       name='content'
                       value={{ post.content }}
                               placeholder='Content'/>
                <div class='manage-post'>
                    <button class='send-post'>Create Post</button>
                </div>
            </form>
        </div>
        <a class='new-post' href="{% url 'posts' %}">
            Back to posts
        </a>
    </div>
{% endblock %}