{% extends "base.html" %}
{% block content %}
    <style>
        .chat-container {
            margin-top: 1rem;
            gap: 1rem;
            display: flex;
            width: 100%;
            flex-direction: column-reverse;
            align-content: center;
            align-items: center;
            justify-content: center;
        }

        .form-post-container {
            margin-top: 1rem;
            gap: 1rem;
            display: flex;
            width: 80%;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;
            color: white;
            background: #252437;
            border: black solid 2px;
            border-radius: 2rem;
            overflow: hidden;
        }

        .form-post-container .post-form {
            display: grid;
            width: 100%;
            overflow: hidden;
            grid-template-columns: 20% 20% 20% 20% 20%;
        }

        .form-post-container .post-form .title {
            border-radius: 2rem 0 2rem 0;
            padding: 1rem;
            grid-column: 1;
            grid-row: 1;
        }

        .form-post-container .post-form .content-textarea {
            word-break: break-all;
            white-space: initial;
            min-height: 3rem;
            grid-column: 1 / 5;
            grid-row: 2;
            border: black solid 0.2rem;
            border-radius: 0 2rem 0 2rem;
            text-align: center;
            padding: 0.5rem;
        }

        .form-post-container .post-form .manage-post {
            display: flex;
            flex-direction: row;
            grid-row: 1 / 5;
            aspect-ratio: 2 / 1;
            grid-column: 5;
            border: none;
            overflow: hidden;
        }

        .form-post-container .post-form .manage-post .send-post {
            border: solid 2px #114505;
            background: #006505;
            color: white;
            font-weight: bold;
            width: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 0 0 0 2rem;
            cursor: pointer;
        }

        .new-post {
            padding: 0.5rem;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            border: 2px solid black;
            border-radius: 1rem;
            height: 2rem;
            cursor: pointer;
        }
    </style>
    <div class='chat-container'>

        <div class="form-post-container">
            <form method="POST" class='post-form'>
                {% csrf_token %}
                <input class='title'
                       id="id_title"
                       name='title'
                       value={{ post.title }}
                       placeholder='Title'/>
                <input class='content-textarea'
                       id="id_content"
                       name='content'
                       value={{ post.content }}
                       placeholder='Content'/>
                <div class='manage-post'>
                    <button class='send-post'>Create Post</button>
                </div>
            </form>
        </div>
        <a class='new-post' href="{% url 'posts' %}">
            Back to posts
        </a>
    </div>
{% endblock %}